.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.button-block {
    display: flex;
    justify-content: flex-end;

    & button {
        width: 150px;
        height: 60px;
        font-size: 25px;
        color: white;
        background-color: black;
        cursor: pointer;
    }
}

.table-block {
    & table {
        
        & thead {
            border-top: black 2px solid;
            border-bottom: black 1px solid;
        }
    }
}