.sidebar {
    height: 100vh;
    width: 18%;

    display: flex;
    flex-direction: column;

    background-color: black;
    color: white;
}

.sidebar-elements {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    display: flex;
    font-size: 25px;
    align-items: center;

    font-family: "The Jamsil 2 Light";

    text-decoration: none;
    color: inherit;

    & img {
        -webkit-user-drag: none;
        padding-right: 20px;
    }
}

.sidebar-content:hover {
    color: #c22727;
}

.sidebar-content.selected {
    color: #c22727;
}

.sidebar-element {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    display: flex;
}